body{
  padding: 25px;
  background-color: #4a4a4a;
  color: #ffffff;
  font-size: 25px;
}
h2{
	color: #55ffff;
	font-size: 40px;
}
p{
	color: #00ffff;
	font-size: 20px;
}
div{
	background-color: #ff557f;
	color: #ffffff;
	 
}