/*body*/
body {
	padding: 25px;
	background-color: #6e6666;
	color: #000000;
}

.forumgame{
	
	text-align: left;
	font-size: 36px;
	font-family:Courier New;
	color: #ffffff;
	margin-left: 25px;
}
.title{
	background: #615151;
	text-align: center;
	font-size: 36px;
	font-family:Courier New;
	color: #ffffff;
	padding: 60px;
	
}
h2{
	font-size: 20px;
	font-family:Courier New;
	color: #ffffff;
}
h3, h4{
	color: #000000;
}

/*Button*/
.btn-light{
	background-color: #565656;
	opacity: 90%;
	color: #ffffff;
	margin: 3px;
	border: 2px solid #aaffff;
	border-radius: 2px;
	padding: 5px;
	float: right;
    position: relative;
    top: 275px;
    
}
.btn-dark{
	background-color: #565656;
	opacity: 90%;
	color: #ffffff;
	margin: 3px;
	border: 2px solid #aaffff;
	border-radius: 2px; 
	padding: 5px;
	float: right;
	position: relative;
	top: 275px;
}

/*Navigation bar*/
.img{
	display: block;
	width: 230px;
	margin-right: 200px;
}
.div{
	background-image:url(Img/Background/1.jpg);
	background-repeat: no-repeat;
	margin: 0; 
	padding:0;
	overflow: hidden;
	list-style-type: none;
}
.home {
	background-color: #4e4e4e;
	
}
li a {
	float: left;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	margin-top: 268px;
}
li a:hover:not(.active) {
	background-color: #c2c2c2;
	color: #000000;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade{
	from {opacity: .4} 
  to {opacity: 1}
}

.card {
  border: 2px solid #000000; 
  background-color: #ffffff; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  width: 100%;
}
.prezzo {
  color: grey;
  font-size: 22px;
}

th{
	color: #ffffff;
	
}
td{
	background-color: #cccccc;
    color: #000000;
    border: 5px #dfdfdf;
    border-radius: 3px;
}
table {
  background-color: #615151;
  border-spacing: 15px;
  border-radius: 1px;
  padding: 0px;
  
}

/*News*/
.imgnews{
	
	border: 2px solid #000000;
	border-radius: 1px; 
	width: 40%;
	float: left;
	margin: 10px;
}
iframe{
	margin-top: 0px;
	
}
.a{
	text-decoration-color: none;
	text-decoration-line: none;
}
h4:hover:not(.active) {
	color: #aa0000;
}



