body{
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
h2{
	color: #000000;
	font-size: 40px;
}
p{
	color: #000000;
	font-size: 20px;
}
div{
	background-color: #00ffff;
	color: #55007f;
}