/*Body*/
body {
    margin:0;
    color: white;
  }
/*---------------*/

/*H1...*/
h1,h2{
   font-family: Cinzel, serif;
}
/*--------------------------*/

/*Paragrafo*/
p{
  margin: 20px;
  font-family: 'Fauna One', serif; 
}
/*----------------------------*/

/*Screen*/
  .wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient;
      background-size: 600% 100%;
      animation: gradient 16s linear infinite;
      animation-direction: alternate;
  }
  @keyframes gradient {
      from {background-color:rgb(76, 109, 146)}
      to {background-color:rgb(161, 92, 120)}
  }
/*----------------------------------*/

/*NVB-Bar*/
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0px;
  border-right: 5px solid rgba(183, 183, 231, 0.822);
}

/*Button*/
 .dropdown-btn
 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border-radius: 0px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: background-color 300ms;
}

.dropdown-btn:hover
{
  color: #f1f1f1;
  background-color:rgba(179, 231, 7, 0.739);
}

.btn
{
  background-color: rgba(179, 231, 7, 0.739);
  color: white;
}

/*2*/
.dropdown-btn-2
 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border-radius: 0px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: background-color 300ms;
}

.dropdown-btn-2:hover
{
  color: #f1f1f1;
  background-color:rgba(121, 161, 255, 0.424);
}

.btn-2
{
  background-color: rgba(121, 161, 255, 0.424);
  color: white;
}
/*-----------------------*/

/*a*/
a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border-radius: 0px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: background-color 300ms;
}

 a:hover  {
  color: #f1f1f1;
  background-color:rgba(0, 217, 246, 0.137);
}
/*-------------------------*/

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-------------------------------*/

/*Div-Table*/
  .div-container{
      width: 70%;
      text-align: center;
      margin:0px auto;
      display: table;
      position: relative;
      top: 150px;
      background-color: rgba(0, 0, 0, 0.26);
      border: 3px solid black;
      border-top-left-radius: 20px;
      height:700px;
  }

.div-text1{
      width: 70%;
      text-align: center;
      margin:0px auto;
      display: table-cell;
      background-color: rgba(0, 0, 0, 0.26);
      border-left: 3px solid black;
}
/*------------------------------------*/

